# Credenziali Agenzia Entrate
CF=
PIN=
PASSWORD=

# Azienda target (obbligatoria se non si usa "Me Stesso")
PIVA=

# Range date (formato GG/MM/AAAA)
DATA_DAL=01/01/2024
DATA_AL=31/12/2024

# Impostazioni opzionali
UTENZA=2        
# 1: Me stesso, 2: Delega Diretta, 3: Incaricato
TIPO=ENT        
# Tipo di accesso per intermediari (FOL/ENT) obbligatoria solo se UTENZA=3
DAILY=1         
# 1 per scaricare solo le fatture di ieri/oggi
DB=0            
# 1 per salvare i dati nel database SQLite, 0 per solo download file
